.section-header{
    height: 50vh;
    background: linear-gradient(to right bottom, var(--color-pink-light) , var(--color-pink-dark));
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
     color: #fff;
}